
.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  color: #FFF;
  text-decoration: none;
  text-align: right;
  transition: 0.5s linear;
}

.header__lang-link:hover {
  opacity: 0.8;
}

.header__list:first-of-type .header__lang-link {
  border-bottom: solid 2px #FFF;
}


@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
