.body
  {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

  }
  .page {
    background-color: #2A2C2F;
    min-width: 1184px;
    margin: 0;
    padding-top: 28px;
    padding-left: 3.75%;
    padding-right: 3.75%;
    padding-bottom: 24px;
    font-family: 'Inter', 'Helvetica', sans-serif;
  }

  .header {
    width: 100%;
    max-width: 1184px;
    /* height: 52px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
    display: flex;
    justify-content: space-between;

  }
  .header__lang-links{
    padding: 0px;
    margin-top: 18px;
    margin-bottom:6px;
    display: flex;
    list-style: none;

  }
  .header__lang-link {

    font-size: 24px;
    line-height: 28px;
    margin: 0;
    color: #fff;
    text-decoration: none;
  }

  .header__lang-link_underline
  {
    position: relative;
    right: 18px;
    text-decoration: underline;
  }

  /* .content {
    margin-left: 48px;
    margin-right: 48px;
  } */

  .lead {
    width:  76.875vw; /*984px*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 92px;
  }

  .lead__title {
    width: 56.25vw; /*720px;*/
    max-width: 720px;;
    margin: 0 auto;
    font-weight: 900;
    font-size: 96px;
    line-height: 104%;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
  }

  .lead__subtitle {
    width: 50vw; /*640px; */
    max-width: 640px;
    margin: 32px auto 64px auto ;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
  }

  .lead__figure {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 984px;
    width: 100%; /*984px*/
    margin-left: auto;
    margin-right: auto;

  }

  .lead__image {
    max-width: 984px;
    width: 100%;
    max-height: 615px;
  }

  .lead__caption {
    margin-top: 8px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;

  }

  .intro {
    width: 76.875vw;
    margin-left: auto;
    margin-right: auto;
    max-width: 984px;
    margin: 0 auto;
  }
  .intro__box{
    width: 53.90625vw;
    max-width: 690px;
    margin-right: 21.40625vw; /*442px;*/
    margin-top: 0px;
    margin-bottom: 92px;
  }

  .intro__title {
    max-width: 690px;
    width: 53.90625vw; /*690px;*/
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    color: #FFFFFF;
    padding: 0;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .intro__text {
    max-width: 690px;
    width: 53.90625vw; /*690px;*/
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 33px;
    padding: 0;
  }

  .intro__list {
    list-style: none;
    padding: 0;
    width: 53.90625vw; /*690px;*/
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    margin: 0;
  }

  .intro__list_bold {
    font-weight: 700;
  }


  .photo-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    /* box-sizing: border-box; */
    max-width: 1184px;
    width: 100%;
    margin: 0 auto 92px auto;
    padding: 0;
    gap: 16px;
  }

  .photo-grid__item {
    width: 100%;
    object-fit: cover;
  }

  .places {
    margin: 0 auto 92px auto;
    width: 76.875vw;
    max-width:984px;
  }

  .place {
    max-width: 984px;
    width: 100%; /*984px*/
    padding: 0;
    display: grid;
    grid-auto-flow: column ;
    grid-template: minmax(min-content, max-content) minmax(min-content, max-content) / minmax(340px, 460px) minmax(352px, 484px);
    gap: 48px 40px;
    margin: 0 0 80px 0;
  }

  .place:last-child {
    margin: 0;
  }

  .place__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    color: #FFFFFF;
    margin: 0;
  }

  .place__image {
    width: 46.748vw;
    height: 46.748vw;
    max-width: 460px;
    max-height: 460px;
    object-fit: cover;
  }

  .place__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;
    margin: 0;
  }
  .place__url-heading {
    font-weight: 400;
    font-size: 12px;
    line-height: 170%;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0;
  }

  .place__link {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    color: #FFFFFF;
    transition: linear 0.2s;
  }
  .place__link:hover{
    opacity: 0.8;
  }

  .place__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin: 0;
  }

  .place__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0;
  }

  .cover {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 92px;
    background-image: url(/images/cover-trains.jpg);

    width: 100%;
    max-width: 1184px;
    height: 100% ;
    max-height: 740px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .cover__link{
    text-decoration: none;
  }

  .cover__overlay {
    background-color: rgba(42, 44, 47, .3);
    width: 1184px;
    height: calc(740px - 245px);
    color: #FFFFFF;
    padding-top: 245px;
    transition: linear 0.5s;
  }

  .cover__overlay:hover {
    background-color: rgba(42, 44, 47, .8);
  }


  .cover__title {
    width: 43.75vw;
    max-width: 560px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
  }

  .cover__subtitle {
    width: 28.125vw;
    max-width: 360px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 0px;
    text-align: center;

  }


  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
  }

  .footer__links {
    display: flex;
    gap: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: #FFFFFF;
    margin: 0;
  }

  .footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
  }

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .page {
    min-width: 1024px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 28px;
    padding-bottom: 24px;
  }
  .header {
    max-width: 928px;
    margin-bottom: 48px;
  }
  .lead {
    width: 90.625vw; /*928px*/
    max-width: 928px;
  }

  .lead__title {
    width: 70.3125vw; /*720px;*/
  }


  .lead__subtitle {
    width: 62.5vw; /*640px; */
    margin-bottom: 56px;
  }

  .lead__figure {
    margin-top: 0;
    margin-bottom: 0;
    max-width: 928px;
  }

  .lead__image {
    max-width: 928px;
    /* max-height: 580px; */
  }

  /* .lead__caption {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
  } */

  .intro {
    width: 90.625vw; /*928px*/
    max-width: 928px;
  }

  .intro__box{
    max-width: 690px;
    width: 67.3828vw;
    margin-right: 23.2421875vw; /*238px;*/
    margin-top: 0px;
    margin-bottom: 92px;
  }

  .intro__title {
    max-width: 690px;
    width: 67.3828vw; /*690px;*/
  }

  .intro__text {
    max-width: 690px;
    width: 67.3828vw; /*690px;*/
  }

  .intro__list {
    width: 67.3828vw; /*690px;*/
  }

  .intro__list_bold {
    font-weight: 700;
  }

  .photo-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    max-width: 928px;
    width: 90.625vw;
    gap: 14px;
  }

  .photo-grid__item {
    width: 100%;
    object-fit: cover;
  }

  .places {
    width: 90.625vw;
    max-width:928px;
  }

  .place {
    max-width: 984px;
    width: 100%;
    display: grid;
    grid-auto-flow: column ;
    grid-template: minmax(min-content, max-content) minmax(min-content, max-content) / minmax(340px, 440px) minmax(352px, 456px);
    gap: 48px 32px;
  }

  .place__image {
    width: 42.96875vw;
    height: 42.96875vw;
    max-width: 440px;
    max-height: 440px;
    object-fit: cover;
  }



  .place__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 26px;
    margin: 0;
  }


  .cover {

    max-width: 1024px;
    width: 100%;

    max-height: 640px;
    background-size: contain;
    background-repeat: no-repeat;
  }



  .cover__overlay {
    background-color: rgba(42, 44, 47, .3);
    width: 100%;
    /* height: calc(640px - 145px); */
    color: #FFFFFF;
    padding-top: 195px;
    transition: linear 0.5s;
  }

  .cover__title {
    width: 54.687vw;
    max-width: 560px;
    margin: 0 auto;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
  }

  .cover__subtitle {
    width: 35.15625vw;
    max-width: 360px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 0px;
    text-align: center;

  }


  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 928px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .page {
    min-width: 768px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 28px;
    padding-bottom: 24px;
  }
  .header {
    /* max-width: 720px; */
    margin-bottom: 48px;
  }
  .lead {
    width: 100vw; /*928px*/
    /* max-width: 768px; */
    margin-bottom: 88px;
  }

  .lead__title {
    width: 93.75vw; /*720px;*/
  }


  .lead__subtitle {
    width: 83.333334vw; /*640px; */
    margin-bottom: 56px;
  }

  .lead__figure {
    margin-top: 0;
    margin-bottom: 0;
    /* max-width: 768px; */
  }

  .lead__image {
    /* max-width: 928px; */
    /* max-height: 580px; */
  }

  .lead__caption {
    margin-left: 24px;
  }

  .intro {
    width: 93.75vw; /*928px*/
    /* max-width: 720px; */
    margin-bottom: 88px;
  }

  .intro__box{
    /* max-width: 720px; */
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .intro__title {
    /* max-width: 720px; */
    width: 100%; /*720px;*/
  }

  .intro__text {
    /* max-width: 720px; */
    width: 100%; /*720px;*/
  }

  .intro__list {
    width: 100%; /*720px;*/
  }

  .intro__list_bold {
    font-weight: 700;
  }

  .photo-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    /* box-sizing: border-box; */
    /* max-width: 720px; */
    width: 93.75vw;
    gap: 16px;
    margin-bottom: 88px;
  }
  .photo-grid__item {
    width: 100%;
    object-fit: cover;
  }



  .places {
    width: 93.75vw; /*720px;*/
    /* max-width:720px; */
    margin-bottom: 90px;
  }

  .place {
    /* max-width: 720px; */
    width: 100%;
    display: grid;
    grid-auto-flow: column ;
    grid-template: minmax(min-content, max-content) minmax(min-content, max-content) / minmax(340px, 440px) minmax(352px, 456px);
    gap: 48px 28px;
    margin: 0 0 72px 0;
  }

  .place__title {
    font-weight: 900;
    font-size: 42px;
    line-height: 110%;
    /* max-width: 330px; */
  }

  .place__image {
    width: 44.27083vw;
    height: 44.27083vw;
    /* max-width: 340px;
    max-height: 340px; */
    object-fit: cover;
  }

  .place__url-heading {

    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
  }

  .place__paragraphs {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 0;
  }

  .place__paragraph {
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
  }


  .cover {

    max-width: 768px;
    width: 100%;
    /* max-height: 480px; */
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 88px;
  }



  .cover__overlay {
    background-color: rgba(42, 44, 47, .3);
    width: 100%;
    /* height: calc(640px - 145px); */
    color: #FFFFFF;
    padding-top: 115px;
    transition: linear 0.5s;
  }

  .cover__title {
    width: 72.916666666vw;
    /* max-width: 560px; */
    margin: 0 auto;
    font-size: 72px;
    line-height: 106%;
  }

  .cover__subtitle {
    width: 46.875vw;
    /* max-width: 360px; */
  }


  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93.75vw;
    /* max-width: 720px; */
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) and (min-width: 320px) {

}
