.place__paragraph {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .place__paragraph:not(:last-child) {
    margin-bottom: 26px;
  }
}

@media screen and (max-width: 1023px) {
  .place__paragraph:not(:last-child) {
    margin-bottom: 25px;
  }
}
