.intro__text {
  margin-top: 0;
  margin-bottom: 33px;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  max-width: 690px;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro__text {
    max-width: 720px;
    margin-bottom: 34px;
  }
}
