.cover__overlay {
  display: flex;
  flex-direction: column;
  max-width: 1184px;
  min-height:740px;
  justify-content: center;
  text-decoration: none;
  color: #FFF;
  background-color: rgba(42, 44, 47, .3);
  margin: 0 auto;
  padding: 0;
  transition: all 0.5s linear;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover__overlay:hover {
  background-color: rgba(42, 44, 47, .8);
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
  .cover__overlay {
    min-height:640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__overlay {
    min-height:480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-height: 200px;
    height: 62.5vw;
  }
}
